<div class="list-group mb-4">
    <a href="{{ path('app_admin_account_index') }}" class="list-group-item list-group-item-action {{ menu_active('app_admin_account_index') }}">Mon compte</a>
    <a href="{{ path('app_admin_account_password') }}" class="list-group-item list-group-item-action {{ menu_active('app_admin_account_password') }}">Mot de passe</a>
    <a href="" class="list-group-item list-group-item-action">Mes commandes</a>
</div>