{% extends 'admin/account/card-profile.html.twig' %}

{% block title %} Mot de passe {% endblock %}

{% block card_title %} Modification du mot de passe {% endblock %}



{% block card_body %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.password.first) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.password.second) }}
        </div>

        <div class="col-md-12">
            <button type="submit" class="btn btn-primary">Modifier</button>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}


