<nav class="navbar">
  <div class="navbar-overlay" onclick="toggleMenuOpen()"></div>

  <button type="button" class="navbar-burger" onclick="toggleMenuOpen()">
{#    <span class="material-icons">menu</span>#}
    <span class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </button>
  <h1 class="navbar-title">Awards</h1>
  <nav class="navbar-menu">
    <button type="button" class="navbar-link">Skills</button>
    <button type="button" class="navbar-link">Awards</button>
    <a href="{{ path('app_admin_realisation_index') }}"
       class="navbar-link {{ menu_active('app_admin_realisation_index') }}"
    >
      Réalisations
    </a>
    <button type="button" class="navbar-link">Projects</button>
  </nav>
</nav>
