body {
  font-family: 'IBM Plex Sans', 'Inter', 'CircularStd', 'Poppins', 'Lato', 'Pacifico', 'Josefin Sans', sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-plusJakartaSans;
}

//body {
//  @apply font-family['CircularStd', 'Inter', 'Poppins', 'Lato', 'Pacifico', 'Josefin Sans', sans-serif] bg-white text-base text-gray-800 leading-6 scroll-margin-top[100px] word-break[break-word];
//}

a {
  @apply text-indigo-600 hover:text-indigo-500 no-underline hover:no-underline;
}