// ------------------------------ FONTS ------------------------------
@font-face {
  font-family: 'Josefin Sans';
  src: url('../../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('../../fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Lato';
  src: url('../../fonts/Lato/Lato-Regular.ttf');
}

/*===== ALL Poppins FONTS =====*/
@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../fonts/Poppins/Poppins-Black.ttf');
  font-weight: 900;
}

/*===== ALL Inter FONTS =====*/

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Inter';
  src: url('../../fonts/Inter/static/Inter-ExtraLight.ttf');
  font-weight: 200;
}


// ------------------------------ CircularStd font ------------------------------
@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-Book.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-BookItalic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'CircularStd';
  src: url('../../fonts/CircularStd/CircularStd-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

// ------------------------------ Plus Jakarta Sans ------------------------------
@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf');
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraBold.ttf');
  font-weight: 800;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('../../fonts/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf');
  font-weight: 200;
}

// ------------------------------ IBM PLEX SANS FONT ------------------------------ //
@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf');
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../../fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf');
  font-weight: 200;
}