@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea {
    @apply block w-full rounded-md border-2 border-gray-300 px-4 text-base text-gray-900 placeholder-gray-300 hover:bg-gray-100 focus:border-primary-600 focus:ring-0;
  }

  [type='checkbox'],
  [type='radio'] {
    @apply h-4 w-4 rounded border-2 border-gray-300 bg-gray-50 text-primary-600 focus:ring-primary-500 hover:bg-gray-100 focus:ring-1;
  }
}