@import "_fonts";

/* Import Tailwind's base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "baseStyle";
@import "layer";

/* Import custom components */
@import "../components/_alert";
@import "../components/_button";
@import "../components/_form-inputs";
@import "../components/_badge";
@import "../components/_table";
@import "../components/_card";
@import "../components/_payment-card";