{% for realisation in realisations %}
    <div class="col-md-4 col-12">
        {% with {'realisation': realisation} %}
            {% include 'layouts/realisations/_realisation_card.html.twig' %}
        {% endwith %}
    </div>
{% endfor %}