@import "root";

/* ========== Template SCSS ========== */
$offcanvas-width: 170px;
$topNavbar-height: 56px;
$footerNavbar-height: 56px;

body {
  background-color: #fff !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

.sidebar-nav {
  width: $offcanvas-width !important;
  top: 0 !important;
  background-color: var(--color-neutral-ghost) !important;
}

.app-navbar {
  background-color: var(--color-primary-outline) !important;
  color: var(--color-base-100) !important;
}

.app-main {
  margin-top: $topNavbar-height !important;
  padding: .5rem .5rem 0 .5rem !important;
  min-height: calc(100vh - #{$topNavbar-height} - #{$footerNavbar-height}) !important;
}

.app-footer {
  background-color: var(--color-neutral-ghost) !important;
  padding: 1rem !important;
  height: $footerNavbar-height !important;
}

.offcanvas-body {
  .navbar-nav {
    .nav-item {
      padding: 0.5rem 1rem !important;
      border-radius: 0.25rem !important;
      font-size: 1rem !important;
      color: var(--color-base-content-light) !important;

      &:hover {
        background-color: var(--color-primary) !important;
        color: var(--color-base-100) !important;
      }

      &.active {
        color: var(--color-primary) !important;
        background-color: var(--color-primary-ghost) !important;

        &:hover {
          background-color: var(--color-primary) !important;
          color: var(--color-base-100) !important;
        }
      }

      .nav-link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .nav-icon {
          i {
            padding: 5px;
            font-size: 1.5rem;
            align-self: center;
            color: var(--color-primary);
            border-radius: 50%;
            background-color: var(--color-primary-ghost);
          }
        }

        .nav-text {
          font-size: .9rem;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }

  .app-main {
    margin-left: $offcanvas-width !important;
    padding: 1rem 1rem 0 1rem !important;
  }

  .app-footer {
    margin-left: $offcanvas-width !important;
  }

  .offcanvas-backdrop::before {
    display: none !important;
  }

  .sidebar-nav {
    transform: none !important;
    visibility: visible !important;
    top: $topNavbar-height !important;
    height: calc(100% - #{$topNavbar-height}) !important;
    z-index: 1 !important;
  }
}

/*====== Avatar =====*/
.avatar {
  height: 35px;
  width: 35px;
  background: $white;
}

.avatar-large {
  height: 60px;
  width: 60px;
  float: left;
  margin: 4%;
}

.profile-image {
  width: 10rem;
  height: 10rem !important;
  border: 1px solid #c5c7cc;
  padding: 0.5rem;
  display: inline-block !important;
  border-radius: 50%;
}

.profile-image.active {
  height: auto !important;
}

.profile-image.active {
  border-radius: unset;
  border: 0px;
}

/*====== Avatar =====*/
.navbar_avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  background-size: cover;
  background-position: center;
}

.dropdown-menu {
  border-radius: 6px;
  min-width: 260px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  padding: 8px 0;
  top: $topNavbar-height !important;

  .dropdown-item {
    padding: .7rem 1.3rem;
    font-size: 0.9rem;
    color: var(--color-base-content-light);
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    background-color: transparent;
    border: 0;

    &:hover {
      background-color: var(--color-primary-ghost);
    }

    &.active {
      background-color: var(--color-primary-ghost);
      color: var(--color-primary);
    }
  }

  .dropdown-item-danger {
    color: var(--color-error);

    &:hover {
      background-color: var(--color-error-ghost);
    }
  }

  .dropdown-divider {
    margin: 0;
  }
}


/* ===== main layout card ===== */
.main-layout-card{
  background: #fff;
  box-shadow: 0 1px 15px 1px rgba(60, 55, 68, .15);
  border-radius: .25rem;
  margin-bottom: 20px;
  // main layout card header
  .main-layout-card-header-with-button{
    padding: 17px 27px;
    border-bottom: 1px solid #ebedf2;

    .main-layout-card-content-wrapper{
      display: table;
      width: 100%;

      .main-layout-card-header-contents{
        display: table-cell;
        vertical-align: middle;

        // text right
        &.text-right{
          text-align: right;
        }
      }
    }
  }

  // main layout card content
  .main-layout-card-content{
    padding: 27px;
    background: var(--color-neutral-ghost);
  }
}
