@import "variables";

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="color"],
input[type="range"],
textarea{
  background-color: var(--color-base-100);
  border: 2px solid var(--color-base-200);
  border-radius: 0.375rem;
  box-shadow: none;
  color: var(--color-base-content);
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  padding: 1.175rem 0.95rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  cursor: text;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="color"]:focus,
input[type="range"]:focus,
textarea:focus {
  border-color: var(--color-primary);
  box-shadow: none;
  outline: 0;
}

// custom style for input file
input[type="file"] {
  background-color: var(--color-base-100);
  border: 2px solid var(--color-base-200);
  border-radius: 0.375rem;
  box-shadow: none;
  box-sizing: border-box;
  color: var(--color-base-content);
  display: block;
  font-family: inherit;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.5;
  padding: 0.375rem 0.75rem;
  margin: 0;
  outline: 0;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out ;
  width: 100%;
}

input[type="file"]:focus {
  border-color: $primary;
  box-shadow: none;
  outline: 0;
}

// Custom style for input checkbox
input[type="checkbox"] {
  border: 2px solid var(--color-base-200);
  border-radius: 0.25rem;
  box-shadow: none;
  color: var(--color-base-content);
  display: block;
  font-family: inherit;
  font-size: 1.3rem;
  height: 1.3rem;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  padding: 0.375rem 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  cursor: pointer;
  position: relative;
}
input[type="checkbox"]:focus {
    border-color: var(--color-primary);
    box-shadow: none;
    outline: 0;
}

.form-check-input{
  margin-left: 0;
  height: 1.5rem;
}
.form-check.form-switch .form-check{
  margin-left: 0;
}


.input-group-text{
  background-color: var(--color-base-100);
  font-size: 1rem;
  height: 2.5rem;
  line-height: 1.5;
  margin: 0;
  outline: 0;
  padding: 1.175rem 0.95rem;
}

/* Hide Calendar Icon In Chrome */
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Hide Calendar Icon In Chrome */
input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}


/* ===== Button ===== */
