<div class="row col-12">
    <div class="col-12">
        <div class="accordion-container">
            <div class="accordion-header">
                <span class="accordion-icon">{{ icon("lock") }}</span>
                Qu'est-ce qu'un régime alimentaire ?
            </div>
            <div class="accordion-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget tellus eget ex gravida fringilla.
                Pellentesque semper augue ac nunc viverra, sit amet aliquam odio hendrerit. Mauris tempus at risus.
            </div>

            <div class="accordion-header">
                {{ icon("lock") }}
                Pourquoi suivre un régime alimentaire ?
            </div>
            <div class="accordion-content">Duis scelerisque lectus ipsum, in laoreet diam feugiat id. Integer dapibus mauris
                justo, vel feugiat elit facilisis non. Maecenas ac eros eu arcu volutpat congue vel ut massa. Pellentesque
                habitant.
            </div>

        </div>
    </div>
</div>