{% extends 'admin/base.html.twig' %}


{% block title %}
    Modification du rendez-vous
{% endblock %}

{% block body %}

    <a href="{{ path('app_admin_booking_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left', '', 'mr-2') }}
        <span>
            Liste des rendez-vous
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Rendez-vous
        </h4>
    </div>
    
    {% include 'admin/booking/_form.html.twig' with {
        button_label: 'Enregistrer',
    } %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/admin/booking/form-booking.js') }}"></script>
{% endblock %}