{% extends 'admin/base.html.twig' %}

{% block body %}
    <a href="{{ path('app_admin_realisation_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left') }}
        <span>
            Liste des réalisations
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Edition de la réalisation
        </h4>
    </div>

    <div class="mt-6">
        {% include 'admin/realisation/_form.html.twig' with {
            form: form,
            button_label: 'Enregistrer',
            button_back_to_list: false
        } %}
    </div>
{% endblock %}