{% extends 'admin/layouts/card.html.twig' %}

{% block actions %}
    <a href="{{ path('app_admin_realisation_index') }}" class="btn btn-secondary">Annuler</a>
{% endblock %}

{% block card_title %}
    Réalisation #{{ realisation.id }}
{% endblock %}

{% block card_body %}
    {{ include('admin/realisation/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}

{% block javascripts__footer %}
    {{ parent() }}
    <script>
        const checkAllImage = document.getElementById('checkAllImage');

        checkAllImage.addEventListener('click', function () {
            const images = document.querySelectorAll('.checkImage');
            images.forEach(image => {
                image.checked = checkAllImage.checked;
            })
        })

        // Traitement de l'heure de début et de fin
        const heureDebut = document.getElementById('realisation_heureDebut');
        const heureFin = document.getElementById('realisation_heureFin');

        heureFin.min = heureDebut.value;

        heureDebut.addEventListener('change', function () {
            heureFin.min = heureDebut.value;
        })
    </script>
{% endblock %}
