{% extends 'admin/base.html.twig' %}

{% block title %}Realisation index{% endblock %}

{% block body %}

    <div class="container">

        <div class="row mb-4">
            <div class="col-12 col-md-12">
                <h2 class="section-title">
                    Réalisations
                </h2>
                <div class="d-none d-md-block">
                    <a href="{{ path('app_admin_realisation_new') }}" class="btn btn-primary">
                        <i class="las la-plus"></i>
                        Ajouter une réalisation
                    </a>
                </div>
            </div>
        </div>

        <div class="row">
            {% with {'realisations': realisations} %}
                {% include 'layouts/realisations/_list.html.twig' %}
            {% endwith %}
        </div>
    </div>


{% endblock %}
