{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Toutes les réalisations{% endblock %}

{% block card_title %}Réalisations{% endblock %}

{% block card_body %}

    <div class="block sm:flex items-center md:divide-x md:divide-gray-100">
        <form class="sm:pr-3 mb-4 sm:mb-0" action="" method="POST">
            <label for="realisations-search" class="sr-only">Rechercher</label>
            <div class="mt-1 relative sm:w-64 xl:w-96">
                <input type="text" name="search" id="realisations-search"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5"
                       placeholder="Rechercher des réalisations">
            </div>
        </form>
        <div class="flex items-center sm:justify-end w-full">
            <a href="{{ path('app_admin_realisation_new') }}"
               class="text-white bg-indigo-600 hover:bg-indigo-700 hover:text-white focus:ring-4 focus:ring-indigo-200 font-medium inline-flex items-center rounded-lg text-sm px-3 py-2 text-center sm:ml-auto">
                {{ icon('plus', '', 'mr-2') }}
                Ajouter une réalisation
            </a>
        </div>

    </div>
    <!-- list of realisations -->
    <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {% for realisation in realisations %}

            {% include 'admin/realisation/_realisation_card.html.twig' %}

        {% endfor %}
    </div>

{% endblock %}

{% block javascripts_footer %}
    {{ parent() }}
    <script>
        document.querySelectorAll('.realisation-images').forEach(carousel => {
            const imageContainer = carousel.querySelector('.imageContainer');
            console.log(imageContainer);
            const images = Array.from(imageContainer.getElementsByTagName('img'));
            const imageWidth = images[0].clientWidth;
            let currentImageIndex = 0;

            const leftButton = carousel.querySelector('.slide-left');
            const rightButton = carousel.querySelector('.slide-right');

            function checkButtons() {
                leftButton.style.visibility = (currentImageIndex === 0) ? 'hidden' : 'visible';
                rightButton.style.visibility = (currentImageIndex === images.length - 1) ? 'hidden' : 'visible';
            }

            checkButtons();

            function scrollImages(offset) {
                currentImageIndex = Math.max(0, Math.min(images.length - 1, currentImageIndex + offset));
                imageContainer.style.transform = `translateX(-${currentImageIndex * imageWidth}px)`;
                checkButtons();
            }

            carousel.querySelector('.slide-left').addEventListener('click', () => scrollImages(-1));
            carousel.querySelector('.slide-right').addEventListener('click', () => scrollImages(1));
        });

    </script>
{% endblock %}
