{% extends 'base_admin.html.twig' %}

{% block title %}Nouvelle réalisation{% endblock %}

{% block body %}
    <h1>Create new Realisation</h1>

    {{ include('admin/realisation/_form.html.twig') }}

    <a href="{{ path('app_admin_realisation_index') }}">back to list</a>
{% endblock %}
