{% set breadcrumbs = render_breadcrumbs() %}
<ol class="breadcrumb my-2">
    {% for breadcrumb in breadcrumbs %}
        {% if loop.last %}
            <li class="breadcrumb-item active">{{ breadcrumb.label }}</li>
        {% else %}
            <li class="breadcrumb-item">
                <a href="{{ breadcrumb.url }}">{{ breadcrumb.label }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ol>