{% extends 'admin/base.html.twig' %}

{% block body %}

    {{ include('partials/flash.html.twig') }}

    <div class="mb-6 flex items-center justify-between">
        <h4 class="text-2xl font-bold md:text-3xl">
            Paramètres
        </h4>
    </div>
    <div class="mb-6 flex flex-col p-4 card md:flex-row md:items-center md:justify-between md:p-6">
        <div class="mb-6 flex flex-col">
            <h6 class="card-section-title">Jours de fermeture</h6>

            <p class="card-section-subtitle">
                Les jours de fermetures sont les jours où le magasin est fermé dans la semaine.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <a href="{{ path('app_admin_shop_settings_offdays') }}">
                Consulter
            </a>
        </div>
    </div>

    <div class="mb-6 flex flex-col p-4 card md:flex-row md:items-center md:justify-between md:p-6">
        <div class="mb-6 flex flex-col">
            <h6 class="card-section-title">Vacances</h6>

            <p class="card-section-subtitle">
                Planifiez les vacances du magasin, les jours fériés et les jours de fermetures exceptionnelles.
            </p>
        </div>

        <div class="flex items-center justify-center">
            <a href="{{ path('app_admin_shop_settings_holidays') }}">
                Consulter
            </a>
        </div>
    </div>
{% endblock %}

