.stack-large {
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 2rem;
}

.stack {
  display: grid !important;
  grid-template-columns: 1fr;
  align-content: flex-start;
  gap: 1rem;
}

.hstack {
  @apply flex flex-wrap gap-4;
}

.grid2 {
  width: 100%;
  display: grid !important;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 730px) {
  .grid2 {
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
}

.form-switch {
  position: relative;
  cursor: pointer;
}


