* {
  font-family: 'Inter Var', 'CircularStd', 'Poppins', 'Lato', 'Pacifico', 'Josefin Sans', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv09", "cv11" !important;
}

body {
  font-family: 'Inter Var', 'IBM Plex Sans', 'CircularStd', 'Poppins', 'Lato', 'Pacifico', 'Josefin Sans', sans-serif;
  font-feature-settings: "cv02", "cv03", "cv04", "cv05", "cv09", "cv11" !important;
  background-color: #f7fafb;
  font-size: 16px;
  line-height: 1.6;
  scroll-margin: 100px 0 0 0;
  word-break: break-word;
}
