{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="grid lg:grid-cols-3 gap-12 lg:gap-8 pb-10">

        {% for dashboardCard in dashboardCards %}
            <div class="border-0 w-full rounded-xl p-8 relative shadow-md bg-green-50">
                {{ icon('arrow-up', '', 'absolute top-0 right-0 transform -translate-x-3 translate-y-3 text-green-700 rotate-45 text-xl') }}

                <p class="text-5xl font-medium tracking-tight text-center mb-3">
                    {{ dashboardCard.number }}
                </p>
                <p class="font-bold tracking-wide text-center text-slate-600 text-sm">
                    {{ dashboardCard.title }}
                </p>
                <p class="font-medium tracking-tight text-center text-slate-400 text-sm">
                    10% increase from last month
                </p>
            </div>
        {% endfor %}

    </div>

{% endblock %}
