{% extends 'admin/base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <p class="text-2xl text-gray-700 font-bold mb-4">Salut {{ app.user.fullname }} !</p>

    <section class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 pb-10">
        {% for dashboardCard in dashboardCards %}
            <div class="w-full flex rounded-lg p-8 relative shadow-sm bg-white border border-gray-200/50">
                <div class="flex justify-center items-center">
                    <div class="bg-indigo-200/50 p-4 rounded-full text-indigo-700 text-xl flex justify-center items-center">
                        {{ icon(dashboardCard.icon) }}
                    </div>
                </div>

                <div class="ml-7 flex flex-col align-center">
                    <p class="text-2xl my-0">{{ dashboardCard.number }}</p>
                    <p class="text-sm text-gray-400 my-0">{{ dashboardCard.title }}</p>
                </div>
            </div>
        {% endfor %}
    </section>

    <section class="bg-white rounded-lg shadow-sm px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 1
    </section>

    <section class="bg-white rounded-lg shadow-sm px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 2
    </section>

    <section class="bg-white rounded-lg shadow-sm px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 3
    </section>

    <section class="bg-white rounded-lg shadow-sm px-4 py-3 lg:px-8 lg:py-6 mb-10 h-64">
        Section 4
    </section>

{% endblock %}
