.badge {
  @apply inline-block rounded-md px-3 py-1 text-sm bg-gray-100 text-gray-800;
}

.badge-success {
  @apply bg-green-100 text-green-800 rounded-md;
}

.badge-warning {
  @apply bg-yellow-100 text-yellow-800;
}

.badge-danger {
  @apply bg-red-100 text-red-800;
}

.badge-info {
  @apply bg-blue-100 text-blue-800;
}

.badge-primary {
  @apply bg-primary-100 text-primary-800;
}
