.badge {
  @apply inline-block rounded-sm px-3 py-1 text-sm bg-gray-100 text-gray-800;
}

.badge-success {
  @apply bg-green-200/50 text-green-800 rounded-md;
}

.badge-warning {
  @apply bg-yellow-100 text-yellow-800;
}

.badge-danger {
  @apply bg-red-100 text-red-800;
}

.badge-info {
  @apply bg-blue-100 text-blue-800;
}

.badge-primary {
  @apply bg-indigo-100 text-indigo-800;
}

.coming-soon {
  @apply text-xs text-green-800 px-2 py-1 bg-green-100 rounded-lg;
}