/* Styles de base pour tous les boutons */
.btn-base {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-md border shadow-sm space-x-2 focus:outline-none focus:ring-2 focus:ring-offset-2;
}

/* Styles spécifiques pour chaque taille de bouton */
.btn-sm {
  @apply px-3 py-1 text-sm btn-base;
}

.btn-sm > i {
  @apply text-base leading-none;
}

.btn-2sm {
  @apply bg-primary-600 rounded-lg hover:bg-primary-800 text-white px-4 py-2.5 duration-300 transition-colors focus:outline-none;
}

/* Taille pour des textes courts et des icônes petites */
.btn-md {
  @apply h-11 px-5 text-base btn-base active:scale-95;
}

.btn-md > i {
  @apply inline-block text-lg leading-none;
}

.btn-md > span {
  @apply inline-block text-sm leading-none;
}

/* Taille standard pour la plupart des usages */
.btn-lg {
  @apply px-7 py-3 text-lg btn-base;
}

/* Taille pour des textes plus longs et des icônes plus grandes */

/* Styles spécifiques pour les variantes de couleur des boutons */
.btn-primary-base {
  @apply rounded-md shadow-sm focus:ring focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-primary {
  @apply border-transparent text-white btn-primary-base bg-primary-500 hover:bg-primary-600 hover:text-white focus:ring-primary-500 focus-visible:outline-primary-600 disabled:bg-primary-200 disabled:text-primary-700;
}

//.btn-primary {
//@apply font-inter active:scale-95 inline-flex items-center justify-center rounded-md text-sm font-medium transition-colors focus:outline-none hover:text-white focus:ring-2 focus:ring-primary-400 focus:ring-offset-2 dark:hover:bg-primary-800 dark:hover:text-slate-100 disabled:opacity-50 dark:focus:ring-slate-400 disabled:pointer-events-none dark:focus:ring-offset-slate-900 data-[state=open]:bg-primary-100 dark:data-[state=open]:bg-primary-800 bg-primary-600 text-white hover:bg-primary-700 dark:bg-slate-50 dark:text-slate-900 h-11 px-8;
//}

.btn-outline-primary {
  @apply bg-white btn-primary-base border-primary-500 text-primary-500 hover:bg-primary-50 hover:text-primary-500 focus:ring-primary-500 focus-visible:outline-primary-500;
}

.btn-icon {
  @apply inline-flex items-center justify-center rounded-full p-2 text-xl text-gray-600 hover:bg-primary-200/30 hover:text-primary-600;
}

.btn-link {
  @apply inline-flex items-center justify-center rounded-md text-base text-gray-600 hover:text-primary-600;
}

.btn-danger {
  @apply border-transparent text-white btn-primary-base bg-slate-800 hover:bg-slate-900 hover:text-white focus:ring-slate-900;
}

.btn-menu {
  @apply block rounded-md py-2 px-5 text-base btn-base active:scale-95 border-transparent text-white btn-primary-base bg-primary-500 hover:bg-primary-600 hover:text-white focus:ring-primary-500 focus-visible:outline-primary-600;
}

.btn-menu-alt {
  @apply rounded-md px-5 text-base transition py-2 text-primary-600 bg-white border border-primary-600 hover:bg-primary-100 hover:text-primary-600 focus:ring-primary-500 focus-visible:outline-primary-600;
}

.link {
  @apply text-primary-600 pb-0.5 p-1.5 hover:text-primary-600/75 hover:border-primary-600 hover:border-primary-600/75 hover:bg-primary-100/25 hover:border-b;
}

.link[target="_blank"]::after {
  @apply bg-primary-600;
  content: "";
  margin-left: .3rem;
  margin-right: -.125rem;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  mask-image: url(../../images/external-link-line.svg);
  mask-size: 100% 100%;
  vertical-align: calc((.75em - 1rem) * .5);
  box-sizing: inherit;
  //mask-size: 100% 100%;
  //mask-repeat: no-repeat;
  //mask-position: center;
}
