/* Styles de base pour tous les boutons */
.btn-base {
  @apply inline-flex items-center justify-center rounded-md border shadow-sm space-x-2 focus:outline-none focus:ring-2 focus:ring-offset-2;
}

/* Styles spécifiques pour chaque taille de bouton */
.btn-sm {
  @apply px-3 py-1 text-sm btn-base;
}

.btn-sm > i {
  @apply text-base leading-none;
}

/* Taille pour des textes courts et des icônes petites */
.btn-md {
  @apply px-5 py-2 text-base btn-base;
}

.btn-md > i {
  @apply text-lg leading-none inline-block;
}

.btn-md > span {
  @apply text-base;
}

/* Taille standard pour la plupart des usages */
.btn-lg {
  @apply px-7 py-3 text-lg btn-base;
}

/* Taille pour des textes plus longs et des icônes plus grandes */

/* Styles spécifiques pour les variantes de couleur des boutons */
.btn-primary-base {
  @apply rounded-md shadow-sm focus:ring focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2;
}

.btn-primary {
  @apply border-transparent text-white btn-primary-base bg-primary-500 hover:text-white hover:bg-primary-600 focus:ring-primary-500 focus-visible:outline-primary-600 disabled:bg-primary-200 disabled:text-primary-700;
}

.btn-outline-primary {
  @apply bg-white btn-primary-base border-primary-500 text-primary-500 hover:bg-primary-50 hover:text-primary-500 focus:ring-primary-500 focus-visible:outline-primary-500;
}
