.form-input-sm {
  @apply block w-full rounded-lg border border-gray-300 text-gray-900 py-1.5 focus:border-primary-600 focus:ring-primary-600 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white sm:text-base dark:focus:border-primary-500 dark:focus:ring-primary-500;
}

.form-input-md {
  @apply block w-full rounded-md border border-gray-300 px-4 py-2.5 text-base text-gray-900 placeholder-gray-300 hover:bg-gray-100 focus:border-primary-600 focus:ring-1;
  //@apply block w-full rounded-lg border border-gray-300 py-2 text-gray-900 focus:border-primary-600 focus:ring-primary-600 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white sm:text-base dark:focus:border-blue-500 dark:focus:ring-blue-500;
}

.form-input-lg {
  @apply block w-full rounded-lg border border-gray-300 py-3 text-gray-900 focus:border-primary-600 focus:ring-primary-600 dark:placeholder-gray-400 dark:border-gray-600 dark:bg-gray-700 dark:text-white sm:text-lg dark:focus:border-primary-500 dark:focus:ring-primary-500;
}

.label {
  @apply block text-base text-gray-500 mb-1 dark:text-white;
}

.form-checkbox-md {
  @apply h-6 w-6 rounded border border-gray-300 bg-gray-50 text-primary-600 focus:ring-primary-500 focus:ring-0;
}

.invalid-feedback {
  @apply block text-sm font-medium text-red-800;
}

.form-error {
  @apply block text-sm font-normal text-red-800;
}

.form-help {
  @apply block text-sm font-normal text-gray-500;
}