modal-dialog {
  --modal-padding: 24px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;

  opacity: 1;
  transition: 0.3s;
  animation: modalIn .3s;
}

modal-dialog[hidden] {
  opacity: 0;
  transform: scale(1.05);
  pointer-events: none;
}

.modal-box {
  position: relative;
  width: 430px;
  max-width: calc(100vw - 40px);
  background-color: #fff;
  border: solid 1px #e2e8f0;
  padding: var(--modal-padding);
  border-radius: 8px;
}

.modal-box header {
  @apply text-lg font-semibold mt-2 mb-4;
}

.modal-close {
  width: 17px;
  height: 17px;
  background-color: transparent;
  position: absolute;
  top: var(--modal-padding);
  right: var(--modal-padding);
  border: none;
  cursor: pointer;

  .icon {
    width: 100%;
    height: 100%;
  }

  &:hover {
    color: var(--contrast);
  }
}

@keyframes modalIn {
  0% {
    opacity: 0;
    transform: scale(1.05);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}