{% extends 'admin/base.html.twig' %}

{% block body %}

    {% include 'partials/flash.html.twig' %}

    <div class="bg-white p-4 lg:p-8 mb-4 rounded-lg shadow-md">
        {% if block('card_title') is not empty %}
            <h1 class="text-lg font-bold mb-4">{% block card_title '' %}</h1>
        {% endif %}

        {% block card_body '' %}
    </div>

{% endblock %}