@font-face {
    font-family: 'Josefin Sans';
    src: url('../fonts/Josefin_Sans/static/JosefinSans-Regular.ttf');
}

@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}

:root {
    --color-dark: #000;
    --color: #121c42;
    --color-light: #121c4299;
    --color-inversed: #effbec;
    --color-inversed60: #effbec99;
    --color-transparent: rgba(18, 28, 66, 0);
    --contrast: #4869ee;
    --contrast25: #4869ee3f;
    --gap: 20px;
    --space: 8px;
    --border: #d5e3ec;
    --border-light: #e6eff4;
    --background: #f7fafb;
    --background-light: #fff;
    --shadow: #d8e1e8;
    --list-hover: var(--background);
    --play: #f3f9fb;
    --space-section: 150px;
    --card-footer: #f7fafd;
    --card-padding: 16px;
    --header-height: 137px;
    --red: #f25353;
    --green: #41cf7c;
    --yellow: #feb32b;
    --yellow-alpha: #feb32b4c;
    --skeleton: var(--border-light);
    --skeleton-wave: var(--border-light);
    --selection-background: var(--border);
    --header-background: #FFFFFFF2;
    --header-background-inversed: #4869eeF2;
}

*, ::after, ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

::-webkit-scrollbar-thumb {
    background: var(--border);
    border-radius: 4px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    /*background-color: #ede7f9;*/
    font-size: 16px;
    color: var(--color);
    line-height: 1.6;
    background: var(--background);
    scroll-margin: 100px 0 0 0;
    word-break: break-word;
}

.page-wrapper {
    min-height: 100vh;
}

body .my5 {
    margin-top: calc(5 * var(--space));
    margin-bottom: calc(5 * var(--space));
}

.auth-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
    font-size: 18px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
