{% extends 'admin/base.html.twig' %}


{% block body %}

    <a href="{{ path('app_admin_category_prestation_index') }}"
       class="btn-link mb-4">
        {{ icon('arrow-left') }}
        <span>
            Liste des catégories
        </span>
    </a>

    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Edition de la catégorie
        </h4>
    </div>

    {% include 'admin/category/_form.html.twig' with {'button_label': 'Enregistrer'} %}


{% endblock %}


