{% extends 'admin/base.html.twig' %}

{% block body %}
    <div class="flex justify-between items-center mb-6">
        <h4 class="text-2xl font-bold md:text-3xl">
            Clients
        </h4>
        <a href="{{ path('app_admin_clients_new') }}"
           class="btn btn-md btn-primary">
            {{ icon('plus') }}
            <span>
                Ajouter
            </span>
        </a>
    </div>

    <div class="card-simple">

        {% include 'admin/clients/_items.html.twig' with {rows: rows} %}

        {{ knp_pagination_render(rows) }}
    </div>
{% endblock %}
