{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Edit CategoryService{% endblock %}
{% block card_title %}Édition Catégorie{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_admin_category_service_index') }}" class="card-btn-action">
        {{ icon('arrow-left') }}
        Toutes les entrées
    </a>


{% endblock %}

{% block card_body %}

    {{ include('admin/category_service/_form.html.twig', {'button_label': 'Enregistrer'}) }}

{% endblock %}
