{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}
{% block card_title %}Ajout d'une nouvelle catégorie{% endblock %}

{% block card_body %}
    <div class="text-right">
        <a href="{{ path('app_admin_category_service_index') }}" class="btn btn-primary-outline mt-4">
            {{ icon('arrow-left') }}
            Retour à la liste
        </a>
    </div>

    {{ include('admin/category_service/_form.html.twig') }}

{% endblock %}
