{% extends 'admin/layouts/card.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}
{% block card_title %}Ajout Catégorie{% endblock %}

{% block card_actions %}
    <a href="{{ path('app_admin_category_service_index') }}"
       class="card-btn-action">
        {{ icon('arrow-left') }}
        <span class="ml-2">Toutes les catégories</span>
    </a>
{% endblock %}

{% block card_body %}

    {{ include('admin/category_service/_form.html.twig') }}

{% endblock %}
