<div class="border-b border-gray-900/10 pb-12">
    <h2 class="text-lg font-semibold leading-7 text-gray-900">
        <span>Notifications </span>
        <span class="coming-soon">Bientôt disponible</span>
    </h2>
    <p class="mt-1 text-sm leading-6 text-gray-600">
        Nous vous enverrons des e-mails lorsque des choses importantes se produiront.
    </p>

    <div class="mt-10 space-y-10">
        <fieldset>
            <legend class="text-sm font-semibold leading-6 text-gray-900">
                Par e-mail
            </legend>
            <div class="mt-6 space-y-6">
                <div class="relative flex gap-x-3">
                    <div class="flex h-6 items-center">
                        <input id="comments" name="comments" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="text-sm leading-6">
                        <label for="comments" class="font-medium text-gray-900">Comments</label>
                        <p class="text-gray-500">Get notified when someones posts a comment on a
                            posting.</p>
                    </div>
                </div>
                <div class="relative flex gap-x-3">
                    <div class="flex h-6 items-center">
                        <input id="candidates" name="candidates" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="text-sm leading-6">
                        <label for="candidates" class="font-medium text-gray-900">Candidates</label>
                        <p class="text-gray-500">Get notified when a candidate applies for a job.</p>
                    </div>
                </div>
                <div class="relative flex gap-x-3">
                    <div class="flex h-6 items-center">
                        <input id="offers" name="offers" type="checkbox"
                               class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    </div>
                    <div class="text-sm leading-6">
                        <label for="offers" class="font-medium text-gray-900">Offers</label>
                        <p class="text-gray-500">Get notified when a candidate accepts or rejects an
                            offer.</p>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend class="text-sm font-semibold leading-6 text-gray-900">Notifications push</legend>
            <p class="mt-1 text-sm leading-6 text-gray-600">
                Vous recevrez des notifications par SMS.
            </p>
            <div class="mt-6 space-y-6">
                <div class="flex items-center gap-x-3">
                    <input id="push-everything" name="push-notifications" type="radio"
                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="push-everything"
                           class="block text-sm font-medium leading-6 text-gray-900">Everything</label>
                </div>
                <div class="flex items-center gap-x-3">
                    <input id="push-email" name="push-notifications" type="radio"
                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="push-email" class="block text-sm font-medium leading-6 text-gray-900">Same
                        as email</label>
                </div>
                <div class="flex items-center gap-x-3">
                    <input id="push-nothing" name="push-notifications" type="radio"
                           class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-600">
                    <label for="push-nothing" class="block text-sm font-medium leading-6 text-gray-900">No
                        push notifications</label>
                </div>
            </div>
        </fieldset>
    </div>
</div>