{% extends 'admin/layouts/card.html.twig' %}

{% block card_title 'Les prestations' %}

{% block card_body %}

    <div class="block sm:flex items-center md:divide-x md:divide-gray-100">
        <form class="sm:pr-3 mb-4 sm:mb-0" action="" method="POST">
            <label for="prestations-search" class="sr-only">Rechercher</label>
            <div class="mt-1 relative sm:w-64 xl:w-96">
                <input type="text" name="search" id="prestations-search"
                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5"
                       placeholder="Rechercher des prestations">
            </div>
        </form>
        <div class="flex items-center sm:justify-end w-full">
            <a href=""
               class="text-white bg-indigo-600 hover:bg-indigo-700 hover:text-white focus:ring-4 focus:ring-indigo-200 font-medium inline-flex items-center rounded-lg text-sm px-3 py-2 text-center sm:ml-auto">
                {{ icon('plus', '', 'mr-2') }}
                Ajouter une prestation
            </a>
        </div>

    </div>

    <div class="mt-8 grid grid-cols-1 gap-4 sm:grid-cols-2 lg:grid-cols-3">
        {% for services in services %}
            <div class="w-full bg-indigo-50">
                <p> {{ service.name }} </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
