{% extends 'auth/base_auth.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block auth_body %}

    <h1 class="text-center text-2xl font-bold leading-tight tracking-tight text-primary-600 dark:text-white md:text-3xl">
        Bon retour parmi nous !
    </h1>
    <form class="space-y-4 md:space-y-6" action="#" method="post">

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {% if error %}
            <div class="alert alert-danger text-center">
                <div class="alert-text">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            </div>
        {% endif %}

        <div class="space-y-1">
            <label for="email" class="label">E-mail</label>
            <input type="email" name="email" id="email" value="{{ last_username }}"
                   required="" class="form-input-md" placeholder="Votre e-mail">
        </div>
        <div class="space-y-1">
            <label for="password" class="label">
                Mot de passe
            </label>
            <input type="password" name="password" id="password" class="form-input-md"
                   autocomplete="current-password"
                   required="" placeholder="Votre mot de passe">
            <p class="mt-2">
                <a href=""
                   class="text-base font-medium text-primary-600 dark:text-primary-500">
                    Vous avez oublié votre mot de passe ?
                </a>
            </p>
        </div>

        <div class="flex items-center justify-between">
            <label for="remember_me" class="flex items-center">
                <input id="remember_me" type="checkbox"
                       class="form-checkbox-md"
                       name="remember_me">
                <span class="ml-2 text-base text-gray-600 dark:text-gray-400">Se souvenir de moi</span>
            </label>
        </div>

        <button type="submit"
                class="w-full btn-md btn-primary">
            Se connecter
        </button>
        <p class="text-base font-light text-gray-500 dark:text-gray-400">
            Vous n'êtes pas encore client ?
            <a href="{{ path('app_register') }}"
               class="font-medium text-primary-600 dark:text-primary-500">
                Inscrivez-vous
            </a>
        </p>
    </form>

{% endblock %}
