.sidebar-nav-item {
  @apply flex w-full cursor-pointer items-center justify-start gap-2 rounded-md px-4 py-2 text-base leading-6 text-gray-600 hover:text-primary-600 hover:bg-primary-200/30 dark:text-gray-300 dark:hover:text-primary-600;
}

.sidebar-nav-item.active {
  @apply text-base leading-6 text-primary-600 bg-primary-200/30 hover:bg-primary-200/30 dark:text-primary-600 dark:hover:text-primary-600;
}

.sidebar-nav-item i {
  @apply text-xl;
}

.sidebar-dropdown-toggle-icon {
  @apply transform transition-transform duration-300;
}

.sidebar-dropdown-menu {
  @apply my-2 space-y-1;
}

.sidebar-dropdown-menu > .sidebar-nav-item {
  @apply px-14 py-2;
}

.sidebar-nav-item-disabled {
  @apply text-gray-400 cursor-not-allowed hover:bg-transparent hover:text-gray-400;
}

.sidebar-dropdown-toggle.sidebar-nav-item-disabled + .sidebar-dropdown-menu > .sidebar-nav-item {
  @apply text-gray-400 cursor-not-allowed hover:bg-transparent hover:text-gray-400;
}